/* Base class for button styling */
.button {
    opacity: 0.7;
    background-color: #4caf50;    
    border: 1px;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/** This style is set for all types of buttons in this css **/
.button:focus {
    font-style: italic;
}

/** Can be used to indicate shortcuts 
.button::first-letter{
    color:red;
}**/

.button-white {
    background-color: rgb(206, 206, 206);
    color: black;
    border: 1px solid rgb(255, 255, 255);
}

/* Makes the button shift down 4 pixels */
.button-white:active {   
	transform: translateY(4px);
}

.button-white:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgb(243, 243, 243);
}

.button-gray {
    background-color: grey;
    color: white;
    border: 1px solid rgb(121, 121, 121);
}

.button-gray:active {
	transform: translateY(4px);
}

.button-gray:hover {
    background-color: rgb(192, 192, 192);
    color: rgb(90, 90, 90);
    border: 1px solid rgb(192, 192, 192);
}

.button-green {
    background-color: #367938;
    color: white;
    border: 1px solid #367938;
}

.button-green:active {
    transform: translateY(4px);
}

.button-green:hover {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;    
}

.button-blue {
    background-color: rgb(89, 87, 223);
    color: white;
    border: 1px solid rgb(89, 87, 223);
}

.button-blue:hover {
    background-color: rgb(100, 97, 255);
    color: white;
    border: 1px solid rgb(100, 97, 255);
}

.button-blue:active {
    transform: translateY(4px);
}

.disabled {
    opacity: 0.6;
    background-color: rgb(175, 174, 174);
    font-style: italic;
    cursor: not-allowed;
}



/**** SPINNER CONTROL ****/
.spin {
    border: 3px #18f840;
    border-radius: 50%;
    border-top: 3px dotted #29d619;
    border-right: 3px dotted #29d619;
    border-bottom: 3px dotted #29d619;
    border-left: 3px dotted #1fe911;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 4s linear infinite;
    animation: rotate 4s linear infinite;
  }
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }