/***
* sidebar.css
* Styling for the sidebar menu
* Source and inspiration : https://youtu.be/Fx_NpAPM-iU
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.side-nav {
    width: 250px;
    height: 100vh;
    background: #0d74f5;
    position: fixed;
    top:32px;
    left: 0;
    padding: 20px 30px;
}

.logo {
    display: block;
    margin-bottom: 50px;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 12px 0;
}

/* The anchor tags in the li */
.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 1px 1px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}