/***
* sidebar.css
* Styling for the sidebar menu
* Source and inspiration : https://youtu.be/Fx_NpAPM-iU
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.side-nav {    
    width: 250px;
    height: 100vh;
    background: rgb(36, 36, 36);
    position: fixed;
    top:32px;
    left: 0;
    padding: 20px 30px;
    transition: 0.5s;
    box-shadow: 5px 5px 10px rgba(83, 83, 83, 0.363);
}

.logo {
    display: flex;        
    justify-content: center;  /* Had to change this to center the logo image*/
    margin-bottom: 50px;
}

.logo-img {    
    width: 100px;
    height: 100px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 12px 0;
}

/* 
    Change the color of the text to the actual background color
    this way, it appears blue on a white background in the active box
*/
.nav-links li:hover a{
    color: rgba(255, 255, 255, 0.473);
    transition: 0.3s;
}

/* The anchor tags in the li */
.nav-links li a {
    color: rgb(36, 156, 106);
    text-decoration: none;
    padding: 1px 1px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.selected-bar-item a {
     /* background-color: rgb(249, 253, 255);    
    width: 100%;    
    top: 20px;
    z-index: -2%;
    border-radius: 15px;      */
}

.selected-bar-item i {
    color: black;     
    color: rgb(80, 245, 176);   
}

.selected-bar-item p {
    color: rgb(80, 245, 176);
    font-weight: 900;
}


/* The active menu item selection indicator */
.active {
    background: rgb(36, 156, 106);
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(92, 92, 92, 0.4);
    display: none;
    transition: top 0.2s;    /* Make the selection box 'slide'*/
}

/* 
    Highlighting of the selected items.
    Need to check what the ~ symbol is used for!
*/

.nav-links li:hover ~ .active {
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active {
    top: 0;
}

.nav-links li:nth-child(2):hover ~ .active {
    top: 9%;
}

.nav-links li:nth-child(3):hover ~ .active {
    top: 18%;
}

.nav-links li:nth-child(4):hover ~ .active {
    top: 27%;
}

.nav-links li:nth-child(5):hover ~ .active {
    top: 36%;
}

.nav-links li:nth-child(6):hover ~ .active {
    top: 45%;
}

.nav-links li:nth-child(7):hover ~ .active {
    top: 54%;
}

.nav-links li:nth-child(8):hover ~ .active {
    top: 63%;
}

.nav-links li:nth-child(9):hover ~ .active {
    top: 72%;
}

.nav-links li:nth-child(10):hover ~ .active {
    top: 81%;
}

.nav-links li:nth-child(11):hover ~ .active {
    top: 90%;
}

.logo-icon {
    display: none;
    width: 45px;
}

/* Make the sidebar reactive */
@media only screen and (max-width:600px) {
    .side-nav{
        width: 90px;
    }   
    .logo-icon {
        display: block;
    }
    .logo-img {
        display: none;
    }
    /* Hide the text from the menu items */
    .nav-links li a p {
        
        display: none;
    }
    .nav-links li a i {
        margin-right: 0;
    }
    .nav-links li a {
        justify-content: center;
    }
}

/** Needed to avoid anoying scrollbar on the right for some screens **/
::-webkit-scrollbar {
    display: none;
}
.body-content-nav {
    margin-left: 300px;
    font-size: 18px;
    display: grid;
 
}
    
