*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.side-nav {
    width: 200px;
    height: 100vh;
    background: #0d74f5;
    position: fixed;
    top:32px;
    left: 0;
    padding: 20px 30px;
}

.logo {
    display: block;
    margin-bottom: 130px;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.nav-links {
    list-style: none;
    position: relative;
}